$white_color: #fff;

.breadcrumb_bg {
  background: url("../img/banner/banner_bg.svg") no-repeat center center;
  background-size: cover;
}

.breadcrumb_part {
  margin-top: 87px;
  position: relative;
  z-index: 1;
  height: 300px;

  .breadcrumb_iner {
    height: 300px;
    width: 100%;
    display: table;

    .breadcrumb_iner_item {
      display: table-cell;
      vertical-align: middle;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white_color;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;

        @media (max-width: 600px) {
          font-size: 35px;
        }

        @media (min-width: 601px) and (max-width: 768px) {
          font-size: 40px;
        }
      }

      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 60px;
      }
      h3 {
        font-size: 50px;
      }
      h4 {
        font-size: 40px;
      }
      h5 {
        font-size: 35px;
      }
      h6 {
        font-size: 25px;
      }

      p {
        font-size: 45px;
        color: $white_color;
        text-transform: capitalize;
      }

      span {
        margin: 0px 5px;
        font-size: 12px;
      }
    }
  }
}

.breadcrumb {
  margin-bottom: 0px !important;
}
