.feature_part {
  .section_tittle {
    h2 {
      font-family: $font_stack_1;
      font-size: 45px;
      color: $heading_color2;
      font-weight: 600;
      margin-bottom: 0px;
      @include transform_time(1s);
      position: relative;
      display: inline-block;

      &:hover {
        text-decoration: none; /* Remove the default text decoration */
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 4px;
        background: $heading_color2;
        transition: width 0.3s;
        position: absolute;
        left: 0;
        bottom: -5px; /* Adjust the position of the underline */
      }

      &:hover:after {
        width: 100%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 30px;
      }
      @media (min-width: 600px) and (max-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 320px) and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }

  .single_feature_text {
    p {
      line-height: 1.9;
      font-family: $font-paragraph;
      @include transform_time(1s);
    }

    .btn_2 {
      margin-top: 45px;
      padding: 13.5px 38px;

      @media #{$small_mobile} {
        margin-top: 25px;
      }

      @media #{$large_mobile} {
        margin-top: 25px;
      }

      @media #{$tab_device} {
        margin-top: 25px;
      }

      @media #{$medium_device} {
        margin-top: 25px;
      }
    }
  }

  .single_feature {
    margin-top: 0px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      background-color: $font_5;
      transform: translateY(-10px);

      .single_feature_part {
        transform: scale(1.05); // Zoom effect
      }

      h4 {
        color: #fff;
      }

      p {
        color: #fff;
      }

      .inline_icon {
        filter: brightness(0) invert(1);
      }
    }

    @media #{$tab} {
      margin-top: 0px;
    }

    @media #{$large_mobile} {
      width: 50%;
      float: left;
      padding: 0 15px;
    }

    @media #{$tab_device} {
      width: 50%;
      float: left;
      padding: 0 15px;
    }

    @media #{$medium_device} {
      margin-top: 0px;
    }
  }

  .single_feature_img {
    width: 100%;
    border-radius: 50%;
    @media screen {
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }
      @media (min-width: 600px) and (max-width: 768px) {
        width: 100%;
      }
      @media (min-width: 320px) and (max-width: 600px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .single_feature_part {
    padding: 30px;
    @include transform_time(1s);
    position: relative;
    transition: transform 0.3s ease-in-out;
    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 15px;
      margin-top: 0px;
    }
    .feature_link {
      display: block;
      text-decoration: none; /* Remove underline from link */
      color: inherit; /* Ensure the text color remains unchanged */
      height: 100%; /* Ensure the link spans the entire height of the parent div */
      width: 100%; /* Ensure the link spans the entire width of the parent div */
      padding: 0; /* Remove default padding from the link */
    }
  }

  @media (min-width: 600px) and (max-width: 768px) {
    margin-top: 20px;
    padding: 15px;
  }

  h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 16px;
    }

    @media #{$small_mobile} {
      margin-bottom: 15px;
      font-size: 14px;
    }

    @media #{$large_mobile} {
      margin-bottom: 15px;
      font-size: 14px;
    }

    @media #{$tab_device} {
      margin-bottom: 15px;
    }

    @media #{$medium_device} {
      margin-bottom: 15px;
    }

    .inline_icon {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }

  p {
    line-height: 1.6;
    color: $black_color;
    font-family: $font_stack_2;
    font-size: 16px;

    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 15px;
    }
    @media (min-width: 600px) and (max-width: 768px) {
      font-size: 13px;
    }
    @media (min-width: 320px) and (max-width: 600px) {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .feature_part .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .single_feature_img {
    margin-bottom: 20px;
  }
}

@media #{$tab} {
  .single_feature_img {
    text-align: center;
    margin: 15px 0 0;
    border-radius: 10px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .single_feature_img {
    padding: 30px;
  }
}

.single_feature_page {
  padding: 140px 0 0;
  @media #{$tab} {
    padding: 70px 0 0;
  }
  @media #{$medium_device} {
    padding: 80px 0 0;
  }
}
