.feature_part {
  // padding: 70px 0 70px;

  @media #{$tab} {
    // padding: 70px 0;
  }

  @media #{$medium_device} {
    // padding: 80px 0 150px;
  }

  .section_tittle {
    margin-bottom: 0px;
  }

  .single_feature_text {
    h2 {
      font-size: 42px;
      line-height: 1.222;
      margin-bottom: 30px;
      font-family: $font-heading;
      @include transform_time(1s);

      @media #{$small_mobile} {
        margin-top: 0px;
        font-size: 25px;
        margin-bottom: 15px;
      }

      @media #{$large_mobile} {
        margin-top: 0px;
        font-size: 30px;
        margin-bottom: 15px;
      }

      @media #{$tab_device} {
        font-size: 30px;
      }

      @media #{$medium_device} {
        margin-top: 0px;
        font-size: 35px;
      }
    }

    p {
      line-height: 1.9;
      font-family: $font-paragraph;

      @include transform_time(1s);
    }

    .btn_2 {
      margin-top: 45px;
      padding: 13.5px 38px;

      @media #{$small_mobile} {
        margin-top: 25px;
      }

      @media #{$large_mobile} {
        margin-top: 25px;
      }

      @media #{$tab_device} {
        margin-top: 25px;
      }

      @media #{$medium_device} {
        margin-top: 25px;
      }
    }
  }

  .single_feature {
    :hover {
      background-color: rgb(21, 196, 236);
      .single_feature_part {
        transform: scale(1.05); // Zoom effect
      }
    }
  }

  .single_feature_img {
    width: 100%;
    @media #{$tab} {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .single_feature_part {
    @include transform_time(1s);
    position: relative;
    transition: transform 0.3s ease-in-out;
    @media #{$tab} {
      margin-top: 0;
    }

    @media #{$medium_device} {
      margin-top: 25px;
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      @media #{$small_mobile} {
        margin-bottom: 15px;
      }

      @media #{$large_mobile} {
        margin-bottom: 15px;
      }

      @media #{$tab_device} {
        margin-bottom: 15px;
      }

      @media #{$medium_device} {
        margin-bottom: 15px;
      }

      .inline_icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    p {
      line-height: 1.8;
      font-size: 15px;
    }
  }

  .single_feature {
    margin-top: 20px;

    @media #{$tab} {
      margin-top: 30px;
    }

    @media #{$large_mobile} {
      width: 50%;
      float: left;
      padding: 0 15px;
    }

    @media #{$tab_device} {
      width: 50%;
      float: left;
      padding: 0 15px;
    }

    @media #{$medium_device} {
      margin-top: 30px;
    }
  }
}

@media #{$tab} {
  .single_feature_img {
    text-align: center;
    margin: 30px 0 0;
    border-radius: 50%;
  }
}
@media #{$medium_device} {
}
.single_feature_page {
  padding: 140px 0 0;
  @media #{$tab} {
    padding: 70px 0 0;
  }
  @media #{$medium_device} {
    padding: 80px 0 0;
  }
}
