<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>
<body>
    <h1>Diabetes Prediction</h1>
    <form method="POST">
        Pregnancies: <input type="number" name="Pregnancies" required><br>
        Glucose: <input type="number" name="Glucose" required><br>
        Blood Pressure: <input type="number" name="BloodPressure" required><br>
        Skin Thickness: <input type="number" name="SkinThickness" required><br>
        Insulin: <input type="number" name="Insulin" required><br>
        BMI: <input type="number" step="any" name="BMI" required><br>
        Diabetes Pedigree Function: <input type="number" step="any" name="DiabetesPedigreeFunction" required><br>
        Age: <input type="number" name="Age" required><br>
        
        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
        <p>Prediction: {{ prediction }}</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
