<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information Form</title>
</head>
<body>
    <h1>Enter Patient Information</h1>
    <form method="POST">
        <label for="name">Drug Name:</label><br>
        <input type="text" id="name" name="Drug Name" required><br><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="Age" required><br><br>

        <label for="age">gender:</label><br>
        <select id="gender" name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>

        <label for="bmi">BMI:</label><br>
        <input type="number" step="0.1" id="bmi" name="BMI" required><br><br>

        <label for="past_medical_conditions">Past Medical Conditions:</label><br>
        <textarea id="past_medical_conditions" name="Past Medical Conditions" required></textarea><br><br>

        <label for="existing_health_conditions">Existing Health Conditions:</label><br>
        <textarea id="existing_health_conditions" name="Existing Health Conditions" required></textarea><br><br>

        <label for="allergies">Allergies:</label><br>
        <textarea id="allergies" name="Allergies" required></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
