<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
</head>
<body>
    <h1>Heart Disease Prediction</h1>
    <form method="POST">
        Age: <input type="number" name="Age" required><br>
        Sex: 
        <select name="Sex" required>
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select><br>
        Resting Blood Pressure: <input type="number" name="RestBP" required><br>
        Cholesterol: <input type="number" name="Chol" required><br>
        Fasting Blood Sugar: 
        <select name="Fbs" required>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br>
        Resting ECG Results: <input type="number" name="RestECG" required><br>
        Maximum Heart Rate: <input type="number" name="MaxHR" required><br>
        Exercise Induced Angina: 
        <select name="ExAng" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select><br>
        ST Depression: <input type="number" step="any" name="Oldpeak" required><br>
        Slope of the Peak Exercise ST Segment: <input type="number" name="Slope" required><br>
        Number of Major Vessels: <input type="number" name="Ca" required><br>
        
        Chest Pain Type:
        <ul>
            <li>
                <input type="radio" name="ChestPain" value="0" id="ChestPain_asymptomatic" required>
                <label for="ChestPain_asymptomatic">Asymptomatic</label>
            </li>
            <li>
                <input type="radio" name="ChestPain" value="1" id="ChestPain_nonanginal" required>
                <label for="ChestPain_nonanginal">Non-anginal</label>
            </li>
            <li>
                <input type="radio" name="ChestPain" value="2" id="ChestPain_nontypical" required>
                <label for="ChestPain_nontypical">Non-typical</label>
            </li>
            <li>
                <input type="radio" name="ChestPain" value="3" id="ChestPain_typical" required>
                <label for="ChestPain_typical">Typical</label>
            </li>
        </ul>
        
        Thalassemia:
        <ul>
            <li>
                <input type="radio" name="Thal" value="0" id="Thal_fixed" required>
                <label for="Thal_fixed">Fixed</label>
            </li>
            <li>
                <input type="radio" name="Thal" value="1" id="Thal_normal" required>
                <label for="Thal_normal">Normal</label>
            </li>
            <li>
                <input type="radio" name="Thal" value="2" id="Thal_reversable" required>
                <label for="Thal_reversable">Reversable</label>
            </li>
        </ul>
        
        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
        <p>Prediction: {{ prediction }}</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
