<!DOCTYPE html>
<html>
<head>
    <title>Liver Disease Prediction</title>
</head>
<body>
    <h1>Liver Disease Prediction</h1>
    <form method="POST">
        Age: <input type="number" name="age" required><br>
        Total Bilirubin: <input type="number" step="any" name="tot_bilirubin" required><br>
        Direct Bilirubin: <input type="number" step="any" name="direct_bilirubin" required><br>
        Total Proteins: <input type="number" step="any" name="tot_proteins" required><br>
        Albumin: <input type="number" step="any" name="albumin" required><br>
        Albumin/Globulin Ratio: <input type="number" step="any" name="ag_ratio" required><br>
        SGPT: <input type="number" step="any" name="sgpt" required><br>
        SGOT: <input type="number" step="any" name="sgot" required><br>
        Alkaline Phosphatase: <input type="number" step="any" name="alkphos" required><br>
        Gender: 
        <select name="gender" required>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select><br>
        
        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
        <p>Prediction: {{ prediction }}</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
